<%= metamagic :title => "Was ist Stevia? Ein natürlicher Zuckerersatz.", :description => "Stevia, der etwas andere Zuckerersatz zum gesundem süßen von Speißen und Getränken.",
 :keywords => %w(stevia) %>
 
<section id="banner">
<div class="row">
  <div class="span12">
  <p><%= image_tag("Honigkraut.jpg", :class => "imgClassBanner", :alt => "Honigkraut", :title => "Honigkraut")%>
  <div class="inner">
    <p><strong>Stevia</strong> der etwas andere <strong>Zuckerersatz</strong>!</p>
    <p class="font-size-small">Stevia, die süsseste Versuchung finden Sie hier.</p>
 </div>
 </div>
 </div>
</section>

<div class="row">
  <div class="span12">    
	  <div class="well">
   <blockquote>
   <h2>Was erwartet Sie hier?</h2>
     <p>Bei stevia2sweet finden Sie fast alles über die Staude, aus der der Süßstoff gewonnen wird, der bis zu 300-mal süßer sein kann als üblicher Zucker. Auf den folgenden Seiten finden Sie nähere Informationen und Wissenswertes über den neuen Zuckerersatz, über den die ganze Welt spricht.
     Wo kann man <strong>Stevia kaufen</strong>, nun mittlerweile gib es den Zuckerersatz in fast allen größeren Bioläden und Reformhäusern oder im Internet <strong><a href="/shop/">Shop</a></strong>.</p>    
   </blockquote>
   </div>
  </div>
</div>

<div class="row">
 <div class="span3">  
  <div class="well">
   <blockquote>
    <h3>Stevia Produkte</h3>
  	 <p><%= image_tag "stevia produkte.jpg", :class => "imgClassStevia", :size => "170x150", :alt => "Stevia", :title => "Stevia Produkte" %></p>
     <p>Stevia findet man mittlerweile in einigen Produkten. Wo kann man Stevia Produkte kaufen?</p>    
     <a class="btn btn-primary btn-large" <a href="/stevia_kaufen/"> Mehr erfahren </a>
   <div class="bottom"></div>
    </blockquote>
   </div>
 </div>
<div class="row">
<div class="span3">
 <div class="well">
  <blockquote>
   <h3>Stevia Pflanze</h3>
   <p><%= image_tag "stevia kraut.jpg", :class => "imgClassStevia", :size => "150x150", :alt => "Stevia", :title => "Stevia Pflanze" %></p>
   <p>Woher stammt die Stevia Pflanze, was ist an der Stevia Pflanze so Besonders?</p>    
   <a class="btn btn-primary btn-large" <a href="/stevia_pflanze/"> Mehr erfahren </a>
 <div class="bottom"></div>
  </blockquote>
 </div>
</div>
<div class="row">
<div class="span3">
 <div class="well">
  <blockquote>
  <h3>Stevia Rezepte</h3>
   <p><%= image_tag "kuchen.jpg", :class => "imgClassStevia", :size => "150x150", :alt => "Stevia", :title => "Stevia Rezepte" %></p>
   <p>Stevia für Kaloriearme Speisen. Weiter zu den Inspirierenden Stevia Rezepten ...</p> 
   <a class="btn btn-primary btn-large" <a href="/stevia_rezepte/"> Mehr erfahren </a>
  <div class="bottom"></div>
  </blockquote>
  </div>
 </div>
<div class="row">
<div class="span3">
 <div class="well">
  <blockquote>
  <h3>Stevia Gesundheit</h3>
   <p><%= image_tag "stevia gesundheit.jpg", :class => "imgClassStevia", :size => "150x150", :alt => "Stevia", :title => "Stevia Gesundheit" %></p>
    <p>Stevia ist gesund, sagen viele ob das stimmt?
    Lesen sie weiter über die Stevia Pflanze ...</p> 
    <a class="btn btn-primary btn-large" <a href="/stevia_gesundheit/"> Mehr erfahren </a>
  <div class="bottom"></div>
  </blockquote>
  </div>
 </div>




